#container {
  background-color: #212228;
  background-image: linear-gradient(#292a30 0.1em, transparent 0.1em),
    linear-gradient(90deg, #292a30 0.1em, transparent 0.1em);
  background-size: 4em 4em;
  height: 100vh;
}
.draggable-card {
  cursor: move;
  position: fixed;
  min-width: 100px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 4px;
  display: flex;
  align-items: center;
}
.draggable-card:active {
  border: 1px solid red;
}
